

<h2>Create Campaign</h2>



    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">d
        <h4>Campaign</h4>
        <hr />
        <div class="form-group">
           Name :
            <div class="col-md-10">
                <input type="text" id="txtaddname" />
            </div>
        </div>

        <div class="form-group">
            Country: 
            <div class="col-md-10">
                <input type="text" id="txtaddcountry" />
            </div>
        </div>

        <div class="form-group">
            Budget: 
            <div class="col-md-10">
                <input type="text" id="txtaddbudget" />
            </div>
        </div>

        <div class="form-group">
            Goal:
            <div class="col-md-10">
                <input type="text" id="txtaddgoal" />
            </div>
        </div>

        <div class="form-group">
            Category:
            <div class="col-md-10">
                <input type="text" id="txtaddcategory" />
            </div>
        </div>


        <div class="form-group">
            URL :
            <div class="col-md-10">
                <input type="text" id="txtaddurl" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" onclick="AddCampaign()" value="Add Campaign" />
            </div>
        </div>
    </div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>



<script>
    function AddCampaign() {
        var campaign = {
            name: $('#txtaddname').val(),
            country: $('#txtaddcountry').val(),
            budget: $('#txtaddbudget').val(),
            Goal: $('#txtaddgoal').val(),
            Category: $('#txtaddcategory').val(),
            Date: Date.now().toString(),
            URL: $('#txtaddurl').val()
        };       
        
        $.ajax({
            url: 'http://localhost:60203/api/campaign',
            type: 'POST',
            data:JSON.stringify(campaign),            
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                WriteResponse("success");
            },
            error: function (x, y, z) {
                alert(x + '\n' + y + '\n' + z);
            }
        });
    }
</script>
